section {
	min-height: 100vh;
}

.heroBg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(./Assets/Images/hero-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
}
.heroBg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}
.active {
	color: #d9ba85;
}
.playBtn {
	position: relative;
	width: 94px;
	height: 94px;
	border-radius: 50%;
	background: radial-gradient(#cda45e 50%, rgba(205, 164, 94, 0.4) 52%);
	overflow: hidden;
}
.playBtn::before {
	content: "";
	position: absolute;
	width: 120px;
	height: 120px;
	animation-delay: 0s;
	animation: pulsate-btn 2s;
	animation-direction: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: steps;
	opacity: 1;
	border-radius: 50%;
	border: 5px solid rgba(205, 164, 94, 0.7);
	top: -15%;
	left: -15%;
	background: rgba(198, 16, 0, 0);
}
.playBtn::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 0;
	transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.playBtn:hover::after {
	border-left: 15px solid #cda45e;
	transform: scale(20);
}

.playBtn:hover::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 1;
	-webkit-animation: none;
	animation: none;
	border-radius: 0;
}
@keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}

	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}

/* About */

.aboutBg {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-image: url(./Assets/Images/about-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
}
.aboutBg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000cc;
	z-index: 0;
}

.aboutImage {
	position: relative;
	z-index: 0;
}

.aboutImage::before {
	position: absolute;
	content: "";
	top: 20px;
	left: 20px;
	border-top: 4px solid #d9ba85;
	border-left: 4px solid #d9ba85;
	height: 60px;
	width: 60px;
	z-index: 1;
	transition: 0.3s ease;
	/* color:  */
}
.aboutImage::after {
	position: absolute;
	content: "";
	bottom: 20px;
	right: 20px;
	border-bottom: 4px solid #d9ba85;
	border-right: 4px solid #d9ba85;
	height: 60px;
	width: 60px;
	z-index: 1;
	transition: 0.3s ease;
}

.aboutImage:hover::before {
	top: 10px;
	left: 10px;
}
.aboutImage:hover::after {
	bottom: 10px;
	right: 10px;
}

.dotBg::after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #bab3a6;
	content: ".........................................................................................................................................................................................................";
	z-index: 0;
}

.specialMenu::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	content: "";
	border-right: 2px solid #cda45e;
}

/* event bg */
.eventsBg {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-image: url(./Assets/Images/events-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
}
.eventsBg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000d1;
	z-index: 0;
}


.swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: rgba(255, 255, 255, 0.4);
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: #cda45e !important;
	width: 14px !important;
	height: 14px !important;
}
input,
textarea {
	width: 100%;
	border-radius: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	background: #0c0b09;
	border: 2px solid #625b4b;
	color: #a49b89;
	padding: 15px 10px !important;
	font-family: "Open Sans", sans-serif !important;
}

input::placeholder,
textarea::placeholder {
	color: #a49b89 !important;
}
input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
	outline: none;
	border: 2px solid #cda45e;
}

/* gallery */

.lg-react-element {
	display: grid !important;
	grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}

@media only screen and (min-width: 768px) {
	.lg-react-element {
		grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
	}
}

@media only screen and (min-width: 1024px) {
	.lg-react-element {
		grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
	}
}

/* chefs data */

.chefInfo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.9) 0%,
		rgba(0, 0, 0, 0.8) 20%,
		rgba(0, 212, 255, 0) 100%
	);
}
