/* importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap");
* {
	margin: 0;
	padding: 0;
}
:root {
	scroll-behavior: smooth;
}

section {
	min-height: 100vh;
}

.heroBg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(./Assets/Images/hero-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
}
.heroBg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}
.active {
	color: #d9ba85;
}
.playBtn {
	position: relative;
	width: 94px;
	height: 94px;
	border-radius: 50%;
	background: radial-gradient(#cda45e 50%, rgba(205, 164, 94, 0.4) 52%);
	overflow: hidden;
}
.playBtn::before {
	content: "";
	position: absolute;
	width: 120px;
	height: 120px;
	animation-delay: 0s;
	animation: pulsate-btn 2s;
	animation-direction: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: steps;
	opacity: 1;
	border-radius: 50%;
	border: 5px solid rgba(205, 164, 94, 0.7);
	top: -15%;
	left: -15%;
	background: rgba(198, 16, 0, 0);
}
.playBtn::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 0;
	transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.playBtn:hover::after {
	border-left: 15px solid #cda45e;
	transform: scale(20);
}

.playBtn:hover::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 1;
	-webkit-animation: none;
	animation: none;
	border-radius: 0;
}
@keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}

	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}

/* About */

.aboutBg {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-image: url(./Assets/Images/about-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
}
.aboutBg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000cc;
	z-index: 0;
}

.aboutImage {
	position: relative;
	z-index: 0;
}

.aboutImage::before {
	position: absolute;
	content: "";
	top: 20px;
	left: 20px;
	border-top: 4px solid #d9ba85;
	border-left: 4px solid #d9ba85;
	height: 60px;
	width: 60px;
	z-index: 1;
	transition: 0.3s ease;
	/* color:  */
}
.aboutImage::after {
	position: absolute;
	content: "";
	bottom: 20px;
	right: 20px;
	border-bottom: 4px solid #d9ba85;
	border-right: 4px solid #d9ba85;
	height: 60px;
	width: 60px;
	z-index: 1;
	transition: 0.3s ease;
}

.aboutImage:hover::before {
	top: 10px;
	left: 10px;
}
.aboutImage:hover::after {
	bottom: 10px;
	right: 10px;
}

.dotBg::after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #bab3a6;
	content: ".........................................................................................................................................................................................................";
	z-index: 0;
}

.specialMenu::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	content: "";
	border-right: 2px solid #cda45e;
}

/* Tailwind CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.container {
		@apply w-[92%] lg:w-[85%]  xl:w-[75%] mx-auto;
	}

	.topIcon {
		@apply text-primary text-[12px] 2xl:text-[14px];
	}
	.textNormal {
		@apply text-[12px] 2xl:text-[14px] font-[400];
	}

	.link {
		@apply list-none cursor-pointer hover:text-[#d9ba85] transition-all ease-in duration-[0.3s] text-[12px] 2xl:text-[14px];
	}
	.button {
		@apply border-2 border-primary px-8 py-3 cursor-pointer hover:bg-primary transition-all ease-in duration-[0.3s] uppercase rounded-[50px] text-[13px]  2xl:text-[14px];
	}
	.icon {
		@apply text-[28px] cursor-pointer  text-[#ffffff];
	}
	.listIcons {
		@apply text-[#cda45e] mr-2 text-[20px];
	}
}
