/* importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap");
* {
	margin: 0;
	padding: 0;
}

.home {
	height: 100vh;
	background-image: url(./Assets/Images/hero-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.home::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000080;
	z-index: 0;
}
section {
	min-height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.container {
		@apply w-[95%]  xl:w-[75%] mx-auto;
	}

	/* Navbar starts */

	.topIcon {
		@apply text-primary text-[14px] 2xl:text-[16px];
	}
	.textNormal {
		@apply text-[14px] 2xl:text-[16px];
	}

	.link {
		@apply list-none cursor-pointer hover:text-[#d9ba85] transition-all ease-in duration-[0.3s] text-[14px] 2xl:text-[16px];
	}
	.button {
		@apply border-2 border-primary px-5 py-2 cursor-pointer hover:bg-primary transition-all ease-in duration-[0.3s] uppercase rounded-[50px] text-[13px]  2xl:text-[17px];
	}
	.navIcon {
		@apply text-[28px] cursor-pointer  text-[#ffffff];
	}

	/* Navbar ends */
}
