/* Importing fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap");

:root {
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.hero {
	position: relative;
	min-height: 100vh;
	background-image: url("../assets/images/hero-bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
}
.hero::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.container {
		@apply w-[90%] md:w-[75%] mx-auto;
	}
}
