/* Importing fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap");

:root {
	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.container {
		@apply w-[70%] mx-auto;
	}
}
